

<ion-content [fullscreen]="true">
  <mat-toolbar>
    
    <mat-toolbar-row>
      <h1 style="font-weight: bolder;font-size: 30px;">Rooms</h1>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">settings</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="room-list">
    <h1>Room List</h1>
    <mat-card style=" background-color:#4f5b62;">
      <div class="left">
        <img src="assets/images/living-room.png" style="width: 70px; height: 70px;margin-top: 5px;margin-left: 10px;"/>
      </div>
      <div class="right">
        <h3 style="padding-left: 20px;">Living Room</h3>
        <div class="t1">
          
          <div class="t3"> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">emoji_objects</mat-icon><br>Lights
          </div>
        </div>
        <div class="t1">
          
          <div class="t3"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">theaters</mat-icon><br>Blinds
          </div>
        </div>
        <div class="t1">
          <div class="t3"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">flare</mat-icon><br>Temp
          </div>
        </div>
        <div class="t1">
          <div class="t3"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">desktop_mac</mat-icon><br>Tv
          </div>
        </div>
      
      </div>
    </mat-card>

    <mat-card style=" background-color:#4f5b62;">
      <div class="left">
        <img src="assets/images/hotel.png" style="width: 70px; height: 70px;margin-top: 5px;margin-left: 10px;"/>
      </div>
      <div class="right">
        <h3 style="padding-left: 20px;">Bed Room</h3>
        <div class="t1">
          
          <div class="t3"> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">emoji_objects</mat-icon><br>Lights
          </div>
        </div>
        <div class="t1">
          
          <div class="t3"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">theaters</mat-icon><br>Blinds
          </div>
        </div>
        <div class="t1">
          <div class="t3"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">flare</mat-icon><br>Temp
          </div>
        </div>
        <div class="t1">
          <div class="t3"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">desktop_mac</mat-icon><br>Tv
          </div>
        </div>
      
      </div>
    </mat-card>
    <mat-card style=" background-color:#4f5b62;">
      <div class="left">
        <img src="assets/images/dinning-table.png" style="width: 70px; height: 70px;margin-top: 5px;margin-left: 10px;"/>
      </div>
      <div class="right">
        <h3 style="padding-left: 20px;">Dinning Hall</h3>
        <div class="t1">
          
          <div class="t3"> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">emoji_objects</mat-icon><br>Lights
          </div>
        </div>
        <div class="t1">
          
          <div class="t3"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">theaters</mat-icon><br>Blinds
          </div>
        </div>
        <div class="t1">
          <div class="t3"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">flare</mat-icon><br>Temp
          </div>
        </div>
        <div class="t1">
          <div class="t3"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">desktop_mac</mat-icon><br>Tv
          </div>
        </div>
      
      </div>
    </mat-card>
    <mat-card style=" background-color:#4f5b62;">
      <div class="left">
        <img src="assets/images/kitchen.png" style="width: 70px; height: 70px;margin-top: 5px;margin-left: 10px;"/>
      </div>
      <div class="right">
        <h3 style="padding-left: 20px;">Kitchen</h3>
        <div class="t1">
          
          <div class="t3"> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">emoji_objects</mat-icon><br>Lights
          </div>
        </div>
        <div class="t1">
          
          <div class="t3"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">theaters</mat-icon><br>Blinds
          </div>
        </div>
        <div class="t1">
          <div class="t3"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">flare</mat-icon><br>Temp
          </div>
        </div>
        <div class="t1">
          <div class="t3"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">desktop_mac</mat-icon><br>Tv
          </div>
        </div>
      
      </div>
    </mat-card>
 

  </div>
</ion-content>
