

<ion-content [fullscreen]="true">
  <mat-toolbar style="background-color: #0C1B32;">
    
    <mat-toolbar-row>
      <h1 style="font-weight: bolder;font-size: 30px;">Rooms</h1>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">settings</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="room-list">
    <h2>Room List</h2>

    <mat-card (click)= "goAnOtherPage()" class="mat1">
      <div class="left">
        <img src="assets/images/living-room.png" style="width: 70px; height: 70px;margin-top: 20px;margin-left: 10px;"/>
      </div>
      <div class="right">
        <h3 style="padding-left: 20px; color:grey;">Living Room</h3>

        <mat-grid-list cols="4"  >
          <div class="gl">
          <mat-card class="abc" style="background-color: red;"> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon" style="color: white;">emoji_objects</mat-icon><h3>Lights</h3>
         </mat-card>
         <mat-card class="abc"> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">theaters</mat-icon><h3>Blinds</h3>
         </mat-card>
         <mat-card class="abc"> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">flare</mat-icon><h3>Temp</h3>
         </mat-card>
         <mat-card class="abc"> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">desktop_mac</mat-icon><h3>Tv</h3>
         </mat-card>
        </div>
        </mat-grid-list>
      </div>
    </mat-card>

    <mat-card (click)= "goAnOtherPage2()" class="mat1">
      <div class="left">
        <img src="assets/images/hotel.png" style="width: 70px; height: 70px;margin-top: 20px;margin-left: 10px;"/>
      </div>
      <div class="right">
        <h3 style="padding-left: 20px;color:grey;">Bed Room</h3>

        <mat-grid-list cols="4">
          <div class="gl">
          <mat-card class="abc"> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">emoji_objects</mat-icon><h3>Lights</h3>
         </mat-card>
         <mat-card class="abc"> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">theaters</mat-icon><h3>Blinds</h3>
         </mat-card>
         <mat-card class="abc"> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">flare</mat-icon><h3>Temp</h3>
         </mat-card>
         <mat-card class="abc"> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">desktop_mac</mat-icon><h3>Tv</h3>
         </mat-card>
          </div>
        </mat-grid-list>
      </div>
    </mat-card>

    <mat-card (click)= "goAnOtherPage3()" class="mat1">
      <div class="left">
        <img src="assets/images/dinning-table.png" style="width: 70px; height: 70px;margin-top: 20px;margin-left: 10px;"/>
      </div>
      <div class="right">
        <h3 style="padding-left: 20px;color:grey;">Dinning Room</h3>
       
        <mat-grid-list cols="4">
          <div class="gl">
          <mat-card class="abc"> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">emoji_objects</mat-icon><h3>Lights</h3>
         </mat-card>
         <mat-card class="abc"> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">theaters</mat-icon><h3>Blinds</h3>
         </mat-card>
         <mat-card class="abc"> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">flare</mat-icon><h3>Temp</h3>
         </mat-card>
         <mat-card class="abc"> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">desktop_mac</mat-icon><h3>Tv</h3>
         </mat-card>
        </div>
        </mat-grid-list>
      </div>
    </mat-card>

    <mat-card (click)= "goAnOtherPage1()" class="mat1">
      <div class="left">
        <img src="assets/images/kit.png" style="width: 70px; height: 70px;margin-top: 20px;margin-left: 10px;"/>
      </div>
      <div class="right">
        <h3 style="padding-left: 20px;color:grey;">Kitchen</h3>
      
        <mat-grid-list cols="4">
          <div class="gl">
          <mat-card class="abc"> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">emoji_objects</mat-icon><h3>Lights</h3>
         </mat-card>
         <mat-card class="abc"> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">theaters</mat-icon><h3>Blinds</h3>
         </mat-card>
         <mat-card class="abc"> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">flare</mat-icon><h3>Temp</h3>
         </mat-card>
         <mat-card class="abc"> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">desktop_mac</mat-icon><h3>Tv</h3>
         </mat-card>
        </div>
        </mat-grid-list>
      </div>
    </mat-card>

  </div>
</ion-content>
