<ion-content>
  <mat-toolbar style="background-color:#0C1B32;">
    
    <mat-toolbar-row >
      <mat-icon (click)="goAnOtherPage()" class="example-icon" aria-hidden="false" aria-label="Example user verified icon">keyboard_arrow_left</mat-icon>
      <h1 style="font-size: 25px;margin-left: 10px;">My Profile</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card class="example-card">
    <mat-card-header class="header" style="margin-top: -50px;">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title  style="margin-top: 60px;">Enigma</mat-card-title>
      <mat-card-subtitle>Welcome</mat-card-subtitle>
      <mat-icon (click)= "goEdit()"  class="example-icoo" aria-hidden="false" aria-label="Example user verified icon" style ="padding-left: -10px;">edit</mat-icon>
    </mat-card-header>
  </mat-card>
  <mat-card style="background-color: white;">
  <mat-grid-list cols="3" style="margin-top: -10px;" >
    <mat-grid-tile>
      <mat-card class="r1">
        <div   class="r2">
          <mat-icon class="example-icen" aria-hidden="false" aria-label="Example user verified icon">power_settings_new</mat-icon>
        </div>
        <br>
        <div class="r3">Off Energy
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="r11">
        <div   class="r22">
          <mat-icon class="example-iceen" aria-hidden="false" aria-label="Example user verified icon">lock</mat-icon>
        </div>
        <br>
        <div class="r33">Left Home
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="r11">
        <div   class="r22">
          <mat-icon class="example-iceen" aria-hidden="false" aria-label="Example user verified icon">vpn_key</mat-icon>
        </div>
        <br>
        <div class="r33">Came Home
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<mat-card class="l11">
  <div class="l2"><mat-icon matListIcon>home</mat-icon>
  <h4 style="margin-left: 15px;">Home Mangement</h4></div>
  </mat-card>

  <mat-card class="l11"> 
    <mat-list>
      <mat-list-item>
        <div class="l2"><mat-icon matListIcon class="ico">question_answer</mat-icon>
          <h4 style="margin-left: 15px;">Message Center</h4></div>
        </mat-list-item>
      <mat-list-item>
        <div class="l2"><mat-icon matListIcon class="ico">contact_support
        </mat-icon>
          <h4 style="margin-left: 15px;" >FAQ & Feedback</h4></div>
        </mat-list-item>
      <mat-list-item>
        <div class="l2"><mat-icon matListIcon class="ico">turned_in</mat-icon>
          <h4 style="margin-left: 15px;">More Services</h4></div>
        </mat-list-item>
    </mat-list>
  </mat-card>

  <mat-card class="l11"> 
    <mat-list>
      <mat-list-item>
        <div class="l2"><mat-icon matListIcon class="ico">wifi_tethering</mat-icon>
          <h4 style="margin-left: 15px;">Configure Wi-fi</h4></div>
        </mat-list-item>
      <mat-list-item>
        <div class="l2"><mat-icon matListIcon class="ico">settings
        </mat-icon>
          <h4 style="margin-left: 15px;" >Settings</h4></div>
        </mat-list-item>
   
    </mat-list>
  </mat-card>

  <!-- <mat-list>
    <mat-list-item>
      <mat-card class="l1">
        <div class="l2"><mat-icon matListIcon>home</mat-icon>
        <h4 style="margin-left: 5px;">My Home</h4></div>
        <div class="l3"><mat-icon matListIcon class="iconoo">keyboard_arrow_right</mat-icon></div>
        </mat-card>
    </mat-list-item>
    <mat-divider style="box-shadow: 2px white;"></mat-divider>
    <mat-list-item>
      <mat-card  class="l1">
      <div class="l2"><mat-icon matListIcon>message</mat-icon>
    <h4 style="margin-left: 5px;" matLine>Message</h4></div>
     <div><mat-icon matListIcon class="iconoo">keyboard_arrow_right</mat-icon></div> 
      </mat-card>
    </mat-list-item>
    <mat-divider></mat-divider>  <mat-list-item>
      <mat-card class="l1">
      <div class="l2"><mat-icon matListIcon>wc</mat-icon>
      <h4 style="margin-left: 5px;" matLine>Family Access</h4></div>
     <div><mat-icon matListIcon class="iconoo">keyboard_arrow_right</mat-icon></div> 
      </mat-card>
    </mat-list-item>
    <mat-divider></mat-divider>  <mat-list-item>
      <mat-card class="l1">
      <div class="l2"><mat-icon matListIcon>vpn_lock</mat-icon>
    <h4 style="margin-left: 5px;" matLine>Change Password</h4></div>
     <div><mat-icon matListIcon class="iconoo">keyboard_arrow_right</mat-icon></div> 
      </mat-card>
    </mat-list-item>
    <mat-divider></mat-divider>  <mat-list-item>
      <mat-card class="l1">
      <div class="l2"><mat-icon matListIcon>record_voice_over</mat-icon>
     <h4 style="margin-left: 5px;" matLine>Support</h4></div>
     <div><mat-icon matListIcon class="iconoo">keyboard_arrow_right</mat-icon></div> 
      </mat-card>
    </mat-list-item>
    <mat-divider></mat-divider>  <mat-list-item>
      <mat-card class="l1">
      <div class="l2"><mat-icon matListIcon>people_outline</mat-icon>
     <h4 style="margin-left: 5px;" matLine>Sign out</h4></div>
     <div><mat-icon matListIcon class="iconoo">keyboard_arrow_right</mat-icon></div> 
      </mat-card>
    </mat-list-item>
    <mat-divider></mat-divider>
      

  </mat-list> -->
</ion-content>