

<ion-content [fullscreen]="true" class="bg-image no-scroll">
  <ion-card>
    <mat-icon  (click)="goAnOtherPage()"  class="example-iconnn" aria-hidden="false" aria-label="Example user verified icon" >keyboard_arrow_left</mat-icon>
    <img src="assets/images/kitchen.jpg" style="width: 100%;height: 200px;"/>
    <p style="margin-top: -100px;margin-left:10px;"><img src="assets/images/kitchen.png" style="width: 50px; height: 50px;"/></p>
    <h1 style="color:white;margin-top: -10px;margin-left:10px;margin-bottom: 5px;">Kitchen</h1>
    
  </ion-card>

 
    
  <mat-grid-list cols="3" rowHeight="2:1"style="background-color:#0C1B32;margin-top:-5px;">
    <mat-grid-tile >
      <div class="t1">
        <div   class="t2">
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon" >gradient</mat-icon>
        </div>
        <div class="t3">50%<br>Humidity
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="t1">
        <div class="t2" >
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">wb_incandescent</mat-icon>
        </div>
        <div class="t3">72 F<br>Tempratures
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="t1">
        <div class="t2">
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">power</mat-icon>
        </div>
        <div class="t3">1200 W<br>Power
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  

<div>
  <mat-grid-list cols="3" style="margin-top: 10px;" >
    <mat-grid-tile>
      <div class="r1">
        <div   class="r2">
          <img src="assets/images/lamp.png" style="width: 50px; height: 50px;"/>
        </div>
        <br>
        <div class="r3">Lights
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="r1">
        <div   class="r2">
          <img src="assets/images/fan.png" style="width: 50px; height: 50px;"/>
        </div>
        <br>
        <div class="r3">Fans
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="r1">
        <div   class="r2">
          <img src="assets/images/led-tv.png" style="width: 50px; height: 50px;"/>
        </div>
        <br>
        <div class="r3">Tv
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="3">
    <mat-grid-tile>
      <div class="r1">
        <div   class="r2">
          <img src="assets/images/microwave.png" style="width: 50px; height: 50px;"/>
        </div>
        <br>
        <div class="r3">Oven
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="r1">
        <div   class="r2">
          <img src="assets/images/iron.png" style="width: 50px; height: 50px;"/>
        </div>
        <br>
        <div class="r3">Iron
        </div>
      </div>
    </mat-grid-tile>
    
  </mat-grid-list>

</div>



  
</ion-content>





